<h1 [ngStyle]="magrielStyle">
  M: {{magriel | number:'1.0-2'}}
</h1>

<div class="wrap">
  <label>Stack:
    <input type="number"
           min="1"
           [(ngModel)]="stack"/>
  </label>

  <label>Big Blind:
    <input type="number"
           min="1"
           [(ngModel)]="bigBlind"/>
  </label>

  <label>Ante:
    <input type="number"
           min="0"
           [(ngModel)]="ante"/>
  </label>

  <label>Number of Players:
    <input type="number"
           min="2"
           max="10"
           [(ngModel)]="numberOfPlayers"/>
  </label>

  stack {{stack}}
  bb {{bigBlind}}
  sb {{smallBlind}}
  ante {{ante}}
  players {{numberOfPlayers | json}}
</div>

