.app-container {
  background-color: var(--main-bg-color);
  width: 300px;
  padding: 20px;
  margin: 10px;
}

.magriel {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 120px;
  text-shadow: 2px 2px 4px gray;
  margin: 0;
  overflow: hidden;
}

.statistics {
  text-align: right;
  font-family: "Arial", Times, serif;
  font-weight: bold;
  font-size: 30px;
}

input {
  background-color: var(--main-bg-color);
  width: 200px;
  outline: none;
  float: right;
  border: none;
}

input:focus {
  border: none;
  border-bottom: 2px solid red;
}

.wrap {
  display:flex;
  flex-direction: column;
}

mat-divider {
  margin: 10px 100px;
}
mat-slider {
  width: 300px;
  margin-top: 20px;
  padding-bottom: 0;
}

.number-of-players {
  float: right;
  margin-right: 16px;
}
